name: CI

on:
  push:
    paths-ignore:
      - "*.md"
    branches: [master]
    tags:
      - "*"
  pull_request:
    branches: [master]

permissions:
  id-token: write # Required for OIDC
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Git checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "24"
          registry-url: "https://registry.npmjs.org"

      - name: Cache node_modules
        uses: actions/cache@v4
        with:
          path: |
            ~/.npm
            ~/.nvm
            ~/work/blessed/blessed/node_modules
            ~/work/blessed/blessed/package-lock.json
          key: ${{ runner.os }}-node_modules-cache-v2-${{ hashFiles('package.json') }}
          restore-keys: |
            ${{ runner.os }}-node_modules-cache-v2-

      - name: Extract Tag Name
        run: echo "TAG_NAME=$(echo ${GITHUB_REF##*/})" >> $GITHUB_ENV
        if: ${{ startsWith(github.ref, 'refs/tags') }}

      - name: Run tests
        run: |
          npm i
          npx tsc
          npx quick-lint-js ./**/*.mjs
          node ./test/all.mjs
        if: ${{ env.TAG_NAME == '' }}

      - name: Build SNAPSHOT
        run: npm pack
        if: ${{ env.TAG_NAME == '' }}

      - name: Publish RELEASE
        run: |
          VERSION="$(echo "$TAG_NAME" | cut -d'v' -f 2)"
          echo "Publish a release version=$VERSION for tag $TAG_NAME"
          npm --no-git-tag-version --allow-same-version version $VERSION
          npm publish
        if: ${{ env.TAG_NAME != '' }}
